## Day Objectives:

- String Methods
- Lists
    - List Declaration
    - Indexing
    - Slicing
    - Methods
- Tuples

- lower()
- upper()
- capitalize()
- len()
- swapcase()
- index()
- count()
- split()

In [2]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [5]:
s = "pytHon trAinInG"

s.title()

'Python Training'

- islower()
- isupper()
- isdigit()
- isdecimal()
- isspace()
- istitle()
- isalpha()
- isalnum()

In [24]:
s1 = "python3.9"

print(s1.islower())

s1 = "PYTHON"
print(s1.isupper())

s2 = "Python39"
print(s2.isdigit())

print(s2.isalnum())

True
True
False
True

In [14]:
'21'.isdigit()

True

In [16]:
s3 = "geetha anjali"
for i in s3:
    if i.isspace():
        print("True")
    else:
        print(i)

g
e
e
t
h
a
True
a
n
j
a
l
i

In [20]:
s3 = "   "
s3.isspace()

True

In [ ]:
s2 = "take a 2 or 3 line string"

In [ ]:
count of upper case letter
count of lower case letters
count of spaces
count of spl chars
no of words

In [29]:
s = "     sowmya     "
print(len(s))
# strip()
s1 = s.strip()
len(s1)

s.lstrip() # removes leading spaces or left side spaces.

s.rstrip() # removes right side spaces

16

'     sowmya'

In [33]:
s2 = "   bharathi  prathyusha  "

s3 = s2.strip()
print(s3)

bharathi  prathyusha

In [38]:
for i in s3:
    if i.isspace():
        s3 = s3.replace(i,'%')
print(s3)

bharathiprathyusha

In [47]:
s3 = 'gist/college/cse/branch/ai/and ml'

s3.replace(' ','@@',2)

'gist/college/cse/branch/ai/and@@ml'

In [51]:
s3.split('/',3)

['gist', 'college', 'cse', 'branch/ai/and ml']

## Lists
- List is a mutable data structure.
- declared by using []
- indexing starts from 0
- we can store homogeneous and heterogeneous data

In [57]:
li = [1,2,3,4,5,6,7]

# len()
print(len(li))
# 4
li[3]

# 1
li[0]

# 7

li[-1]

# 4 by using backward indexing
li[-4]

7

4

In [66]:
a = [10,13,10.23,21.3,'apple','oneplus','nokia']

# 21.3 apple oneplus

a[3:6] # m:n m<n
a[-4:-1]

# nokia oneplus apple 21.3 10.23 13 10
a[::-1]

['nokia', 'oneplus', 'apple', 21.3, 10.23, 13, 10]

In [75]:
# 13 21.3 oneplus
a[1::2]
# 10 10.23 apple nokia
a[::2]
# oneplus
a[-2][::-1]
# 10
a[0][::-1]

TypeError: 'int' object is not subscriptable

In [79]:
# what is a palindrome ?
# level mom amma dad mam madam 

s = input("Enter any string: ")
#rs = s[::-1]
if s==s[::-1]:
    print("Palindrome")
else:
    print("Not a Palindrome")
    
# WAP to check given number is a palindrome or not.
# num = 2002

Enter any string: daddy
Not a Palindrome

In [85]:
li = [1,2,3]

li[0] = 30

li[2] = 'Three'

In [86]:
print(li)

[30, 2, 'Three']

In [89]:
# membership operators : in and not in

2 in li

2 not in li

False

In [90]:
a = ['mango','grape']
b = ['sujith','yashvitha']

In [91]:
l = a+b # concatenation
print(l)

['mango', 'grape', 'sujith', 'yashvitha']

In [97]:
l[2] * 10

'sujithsujithsujithsujithsujithsujithsujithsujithsujithsujith'

In [95]:
'python '* 10

'python python python python python python python python python python '

In [98]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### adding: insert, extend, append

- append : to add any new single element to the list at the end.
- extend : to add multiple elements at a time.
- insert : used to add element at a particular index.

In [134]:
lan = ['hindi','english','telugu','duch','japanese']
type(lan)
# append()
lan.append('tamil')
print(lan)
lan.append('sanskrit')
print(lan)
#lan.append('surya','vijay')

['hindi', 'english', 'telugu', 'duch', 'japanese', 'tamil']
['hindi', 'english', 'telugu', 'duch', 'japanese', 'tamil', 'sanskrit']

In [135]:
# extend()
lan.extend(['kamala','john','joseph','parimala'])
print(lan)

['hindi', 'english', 'telugu', 'duch', 'japanese', 'tamil', 'sanskrit', 'kamala', 'john', 'joseph', 'parimala']

In [138]:
#insert()

lan.insert(5,'urdu')
print(lan)

['hindi', 'english', 'telugu', 'duch', 'japanese', 'urdu', 'urdu', 'urdu', 'tamil', 'sanskrit', 'kamala', 'john', 'joseph', 'parimala']

In [142]:
# count and index
lan.count('chinese')

lan.index('telugu')

2

### Delete: pop,remove,clear

- pop : remove the last element
- remove : used to delete a particular element.
- clear : to clear or delete all the elements.

In [145]:
lan.pop()

'joseph'

In [146]:
print(lan)

['hindi', 'english', 'telugu', 'duch', 'japanese', 'urdu', 'urdu', 'urdu', 'tamil', 'sanskrit', 'kamala', 'john']

In [147]:
lan.remove('urdu')

In [148]:
print(lan)

['hindi', 'english', 'telugu', 'duch', 'japanese', 'urdu', 'urdu', 'tamil', 'sanskrit', 'kamala', 'john']

In [149]:
lan.clear()

In [150]:
print(lan)

[]

In [152]:
li = [111,23,415,67,89,100]
li.sort()

In [153]:
print(li)

[23, 67, 89, 100, 111, 415]

In [155]:
li.reverse()

In [156]:
print(li)

[415, 111, 100, 89, 67, 23]

In [157]:
li2 = li.copy()

In [158]:
li2

[415, 111, 100, 89, 67, 23]

In [ ]:
# take an empty list and add elements given by the user.
# sort the entire list in descending order.